.body{
    height: 1909px;
    margin: 0;
}
.header{
    margin: 0;
    height: 500px;
    background-image: url("5.jpg");
    background-size: cover;
    background-position: center;
    
}

.main{
    display: flex;
    top: 565px;
    width: auto;
    height: 1255px;

}

.footer{
    width: auto;
    height: 89px;
    background-image: url("12.jpg");
}

.bottom_menu__links li{
    display: inline;
    list-style: none;
}