@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Oxygen:wght@300;400;700&display=swap');

body{
    margin: 0;
    height: 1909px;
}

.header{
    display: flex;
    flex-direction: column;
    height: 500px;
    background-image: url("5.jpg");
    background-position: center;
    background-size: cover;
    background-color: #00000080;
    background-blend-mode: overlay;
}

.header__menu{
    height: 74px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__logo{
    width: 92px;
    height: 26px;
    align-self: center;
}

.header__menu-list{
    padding: 0;
    width: 376.61px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__menu-list li{
    display: inline;
    list-style: none;
    font-family: "Oxygen", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.6px;
    text-align: left;
    color: #FFFFFF;
}

.header__heading{
    display: flex;
    justify-content: center;
    align-self: center;
}

.menu{
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu__links{
    width: 960px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu__links li{
    list-style: none;
    font-family: "Lora", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
}

.content{
    height: 1225px;
    display: flex;
    justify-content: center;
    background-color: #F7F7F7;
}


.footer{
    height: 89px;
    background-color: #4D565D;
    background-image: url("12.jpg");
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
}

.footer__logo{
    width: 92px;
    height: 26px;
}

.footer__menu{
    height: 89px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer__menu-list{
    padding: 0;
    width: 376.61px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer__menu-list li {
    list-style: none;
    display: inline;
    font-family: "Oxygen", sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1px;
    color:  #FFFFFF99;
}

.first__banner{
    display: flex;
    flex-direction: column;
    width: 460px;
    height: 280px;
    border-radius: 3px;
    background-image: url("11.jpg");
    background-size: cover; 
}

.content__1banner{
    width: 460px;
    height: 181px;
}

.banner__title1{
    display: flex;
}

.banner__title1 h3{
    font-family: "Lora", sans-serif;
    font-size: 27px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.banner__subtitle1 p{
    font-family: "Oxygen", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFFB2;
}



.banner__info1{
    width: 460px;
    height: 35px;    
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.left__info1{
    display: flex;
    align-items: center;
}

.left__info1 p{
    font-family: "Oxygen", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFFB2;
}

.right__info1{
    display: flex;
    width: 108px;
    height: 35px; 
    align-items: center;    
}

.right__info1 p{
    font-family: "Oxygen", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
        
}

.person1{
    width: 26px;
    height: 26px;
    border-radius: 60px;    
}