@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Oxygen:wght@300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
}

.header{
    max-height: 74px;
    margin: 17px 250px;
    text-align: center;
}

.header__logo{
    vertical-align: bottom;
    margin-right: 471.39px;
    margin-top: 7px;
    margin-bottom: 11px;
}

.navigation__header-list{
    display: inline-block;
    padding-bottom: 11px;
}


.navigation__header-list li{
    list-style: none;
    display: inline-block;
    font-family: "Oxygen", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.6px;
    text-align: left;
    color: #2E2E2E;
    padding-right: 42px;
}

.navigation__header-list li:last-child{
    padding: 0;
}

.main__heading{
    margin: 89px 250px 38px;
}

.heading__title{
    margin: 7px 221px 20px;
    text-align: center;
    font-family: "Lora", sans-serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 51px;
    letter-spacing: 2px;
    text-align: center;
    color: #2E2E2E;
}

.heading__subtitle{
    text-align: center;
    font-family: Oxygen;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #2E2E2EA1;    
}

.banner{
    width: 100%;
    max-height: 534px;
    border-radius: 3px;    
}

.main__content{
    padding: 140px 240px 135px;
     text-align: left;
    font-family: "Oxygen";
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0;    
}

footer{
    text-align: center;
    padding: 28px 240px 27px;
    background-color: #232F3899;
    background-image: url("../images/12.jpg");
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
}

.footer__logo{
    vertical-align: bottom;
    margin-right: 471.39px;
    margin-top: 7px;
    margin-bottom: 11px;
}

.navigation__footer-list{
    display: inline-block;
    padding-bottom: 11px;
}

.navigation__footer-list li{
    list-style: none;
    display: inline-block;
    font-family: "Oxygen", sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1px;
    text-align: right;
    padding-right: 42px;
    color: #FFFFFF99;
}   

.navigation__footer-list li:last-child{
    padding: 0;
}