@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Oxygen:wght@300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
}
 
.header{
    padding: 17px 250px;
}

 .header__menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__menu-list li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
    font-family: "Oxygen", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.6px;
    text-align: left;
    color: #FFFFFF;
} 

.cave-background{
    top: 0;
    left: 0;
    width: 100%;
    max-height: 500px;
    margin: auto;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

.main{
    
}

.main__heading{
    margin: 184px 250px 75px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__heading h1{
    font-family: "Lora", sans-serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 51px;
    letter-spacing: 2px;
    text-align: center;
    color: #FFFFFF;
}

.main__heading p{
    margin-top: 20px;
    font-family: "Oxygen", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFFA1;
}

.main__heading-button{
    margin-top: 31px;
    width: 167px;
    height: 44px;
    border-radius: 3px; 
    border: 0;
    background-color: #DD783F;  
    font-family: "Oxygen", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}

.main__menu{
}

.main__menu-sections{
    display: flex;
    justify-content: space-around;
    padding-top: 22px;
    padding-bottom: 23px;
}

.main__menu-sections li{
    list-style: none;
    font-family: "Lora", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #768088;
}

.footer{
    background-image: url("../images/12.jpg");
    background-color: #232F3899;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;

}

.footer__menu{
    padding: 28px 240px 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__menu-list li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
    font-family: "Oxygen", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.6px;
    text-align: left;
    color: #FFFFFF99;
}