@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Oxygen:wght@300;400;700&display=swap');

body{
    width: 1440px;
    height: 2600px;
    margin: 0;
    padding: 0;
}

header{
    width: 1440px;
    height: 74px;
}

.top{
    width: 940px;
    height: 40px;
    margin: 17px 250px;
}

.top_logo{
    vertical-align: bottom;
}
.top_nav{
    display: inline;
    padding: 0;
    margin-left: 470px;
    width: 376.61px;
    height: 40px;
}

.top_nav li{
    display: inline;
    font-family: 'Oxygen', sans-serif;
    color: #2E2E2E;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.6px;
}

.Heading{
    width: 940px;
    height: 159px;
    margin: 83px 250px 0px 250px;
}

h1{
    width: 498px;
    height: 51px;
    margin: 7px 221px 0px 221px;
    font-family: 'Lora', sans-serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 51px;
    letter-spacing: 2px;
    text-align: center;
    color: #2E2E2E;    
}

.Heading p{
    color:  #2E2E2EA1;
    margin: 20px 218px 75px 218px;
    width: 504px;
    height: 20px;
    font-family: 'Oxygen', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
}

.top_image{
    margin-top: 38px;
    width: 1440px;
    height: 534px;
    top: 360px;
}

.box{
    position: relative;
    width: 1440px;
    height: 1706px;
    top: 894px;      
}


.content{
    margin: 140px 240px 0px 240px;
    width: 960px;
    height: 1431px;
    font-family: 'Oxygen', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    color:  #101315;
}

footer{
    width: 1440px;
    height: 89px;
    margin-top: 49px;
    background-color: #4D565D;
    background-image: url("12.jpg");
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    position: relative;
}

.bottom{
    position: absolute;
    width: 960px;
    height: 34px;
    margin: 28px 240px 27px 240px;
}

.bottom_logo{
    vertical-align: bottom;
}

.bottom_nav{
    vertical-align: bottom;
    width: 639.98px;
    height: 32px;  
    margin-left: 470px;
    padding: 0;
    display: inline;    
}

.bottom_nav li{
    list-style-type: none;
    color: #FFFFFF99;
    display: inline;
    font-family: 'Oxygen', sans-serif;
    line-height: 26px;
    letter-spacing: 1px;
}
